<!DOCTYPE html>
<html>
<head>
    <!-- 下面是定义标签库 -->
    <!-- 下面是定义通用的meta头信息 -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- 下面是定义通用的变量信息 -->
    {load href="/static/layuiadmin/layui/css/layui.css,/static/layuiadmin/style/admin.css,/static/plugin/jstree/themes/default/style.min.css,/static/css/font-awesome.min.css" /}
    <title></title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" lay-filter="layui-business-form">
                <blockquote class="layui-elem-quote">固定标识：首页ICON（column_index）；热门推荐（product_index）</blockquote>
                <input type="hidden" name="id" value=""/>
                <input type="hidden" name="createUserId" value=""/>
                <input type="hidden" name="createTime" value=""/>
                <!-- 可切换的tab -->
                <div class="layui-tab layui-tab-brief">
                    <div class="layui-tab-content">
                        <!-- 基本信息 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="required">*</span>模块标识</label>
                            <div class="layui-input-block">
                                <input type="text" name="ident" lay-verify="required" autocomplete="off" lay-vertype="tips" placeholder="请输入位置标识" class="layui-input" value="{notempty name="$info.block_ident"}{$info.block_ident}{else}{:randStr()}{/notempty}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="required">*</span>模块名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="required" autocomplete="off" lay-vertype="tips" placeholder="请输入位置名称" class="layui-input" value="{notempty name="$info.block_title"}{$info.block_title}{/notempty}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">简要描述</label>
                            <div class="layui-input-block">
                                <textarea name="brief" placeholder="请输入简要描述" class="layui-textarea">{notempty name="$info.block_brief"}{$info.block_brief}{/notempty}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 提交 -->
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <input type="hidden" name="bid" value="{notempty name="$info.block_id"}{$info.block_id}{/notempty}"/>
                            <button class="layui-btn" lay-submit="" lay-filter="layui-business-submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{load href="/static/layuiadmin/layui/layui.js,/static/js/tools.js,/static/js/jquery.min.js,/static/plugin/jstree/jstree.min.js" /}
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$,
            form = layui.form;
        /* 监听提交 */
        form.on('submit(layui-business-submit)', function(data){
            layer.load(1);
            // 发送请求
            $.post('{:url("blocks/block/updateadd")}',data.field,function(result){
                layer.closeAll('loading');
                if (result.code == 0) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.tableIns.reload();
                    parent.layer.msg("操作成功",{icon: 1});
                } else {
                    layer.msg(result.msg,{icon: 2});
                }
            },"json");
            return false;
        });
    });
</script>
</body>
</html>