{include file="common/head"/}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-btn-group">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>用户评论</legend>
                </fieldset>
            </div>
            <div>
                <h3>攻略标题：{$strategys['strategy_title']}</h3>
                <div>
                    产品名称：{$list.product_name}
                </div>
                <div>
                    产品期限：{$list.product_term}
                </div>
                <div>
                    产品额度：{$list.product_max_amount}
                </div>
                <div>
                    <img src="{$strategys['strategy_img']}" ></img>
                </div>
                <div>
                    攻略内容：{$strategys['strategy_content']}
                </div>
            </div>
            <div class="layui-btn-table">
                <!--<div class="layui-form-item">
                    <a href="{:url('addStrategy')}" class="layui-btn layui-btn">添加攻略</a>
                    <a href="{:url('index')}" class="layui-btn layui-btn">显示全部</a>
                    <div style="float: right">
                        <div class="layui-inline">
                            <input class="layui-input" name="key" id="key" autocomplete="off" placeholder="输入你要查询的媒体名称或攻略标题"
                                   style="width: 400px">
                        </div>
                        <button class="layui-btn" id="search" data-type="reload">搜索</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">属性设置：</label>
                    <a href="#" class="layui-btn layui-btn" onclick="operation(1)" >热门</a>
                    <a href="#" class="layui-btn layui-btn" onclick="operation(2)">推荐</a>
                    <a href="#" class="layui-btn layui-btn" onclick="operation(0)">无属性</a>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序规则：</label>
                    <a href="#" class="layui-btn layui-btn" onclick="sortList(0)">综合</a>
                    <a href="#" class="layui-btn layui-btn" onclick="sortList(1)">评论数</a>
                    <a href="#" class="layui-btn layui-btn" onclick="sortList(2)">点赞数</a>
                    <a href="#" class="layui-btn layui-btn layui-btn-danger" onclick="operation(-1)" style="float: right;">删除选中</a>
                </div>-->
                <table class="layui-table" id="list" lay-filter="list"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="action">
    <!--<a href="{:url('editStrategy')}?id={{d.strategy_id}}" class="layui-btn layui-btn-xs">编辑</a>
    <a href="{:url('discuss')}?id={{d.strategy_id}}" class="layui-btn layui-btn-xs">用户评论</a>
    {{#  if(d.strategy_type === 1){ }}
    <a class="layui-btn layui-btn-xs layui-btn-warm">热门</a>
    {{#  }else if(d.strategy_type === 0){ }}
    <a class="layui-btn layui-btn-xs">无属性</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal">推荐</a>
    {{#  } }}-->
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script type="text/html" id="sort">
    <input name="{{d.discuss_id}}" data-id="{{d.discuss_id}}" class="list_order layui-input" value="{{d.discuss_sort}}" size="10"/>
</script>
{include file="common/foot"/}
<script>
    layui.use(['table', 'form'], function () {
        var table = layui.table, form = layui.form, $ = layui.jquery;
        var id = {$id};
        tableIn = table.render({
            id:'discuss',
            elem: '#list',
            url: '{:url("discuss")}',
            method: 'post',
            where:{id:id},
            page: true,
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'time',align:'center', title: '评论时间', width: 200},
                {field: 'user',align:'center', title: '评论用户', width: 200},
                {field: 'discuss_content', align: 'center', title: '评论内容'},
                {field: 'discuss_love', align: 'center', title: '评论点赞', width: 200},
                {field: 'discuss_sort', title: '排序', width: 100,sort:true,templet:'#sort',fixed:'right'},
                {width: 100, title: '操作', align: 'center', toolbar: '#action',fixed:'right'}
            ]]
        });

        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            if ($.trim(key) === '') {
                layer.msg('{:lang("pleaseEnter")}关键字！', {icon: 0});
                return;
            }
            tableIn.reload({
                where: {key: key}
            });
        });


        //删除
        table.on('tool(list)',function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent == 'del'){
                layer.confirm('您确定要删除该评论吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('delDiscuss')}",{id:data.discuss_id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        })



        //排序
        /*$('body').on('blur', '.list_order', function () {
            var id = $(this).attr('data-id');
            console.log(id);
            var sort = $(this).val();
            $.post('{:url("sortStrategy")}', {id: id, sort: sort}, function (res) {
                if (res.code == 1) {
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        tableIn.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            })
        })*/
    })
</script>