{include file="common/head"/}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-btn-group">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>详情页点击人数/次数</legend>
                </fieldset>
            </div>
            <div class="layui-btn-table">
                <!--首页点击人数/人次-->
                <div class="demoTable">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <select name="city" lay-verify="" lay-filter="aihao" id="index_content_media">
                                    <option value="all">查询所有</option>
                                    {$sel_media|raw}
                                </select>
                            </div>
                            <div class="layui-inline">
                                <select name="list_click_position" id="list_click_position">
                                    <option value="all">请选择</option>
                                    {$sel_model|raw}
                                </select>
                            </div>
                            <div class="layui-inline" style="width: 200px;"> <!-- 注意：这一层元素并不是必须的 -->
                                <input autocomplete="off" type="text" class="layui-input" id="index_content_data"
                                       placeholder="请选择日期">
                            </div>
                            <button class="layui-btn" id="index_content_but" data-type="reload">
                                查询
                            </button>
                            <a class="layui-btn download_excel" id="index_click_pvuv_export" data-type="reload">导出excel</a>
                        </div>
                    </form>
                    <table class="layui-table" id="index_content_table"></table>
                    <!--/首页点击人数/人次-->
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use(['table', 'laydate', "treeGrid"], function () {
        var $ = layui.jquery, laydate = layui.laydate;
        var treeGrid = layui.treeGrid;

        laydate_render("index_content_data");
        //首页点击人数/人次查询
        $("#index_content_but").on('click', function () {
            var index_content_media = $("#index_content_media").val();//媒体
            var list_click_position = $("#list_click_position").val();//发起位置
            var index_content_data = $("#index_content_data").val();//日期
            //带条件查询数据
            treeGrid.reload("index_content_table", {
                url: '{:url("getContentPeople")}',
                method: 'post',
                where: {
                    index_content_media: index_content_media,
                    list_click_position: list_click_position,
                    index_content_data: index_content_data
                }
            });
            return false;
        });
        //查询数据
        treeGrid.render({
            elem: '#index_content_table'
            , idField: 'id'
            , method: 'post'
            , url: '{:URL("getContentPeople")}'
            // ,cellMinWidth: 100
            , treeId: 'id'//树形id字段名称
            , treeUpId: 'pid'//树形父id字段名称
            , treeShowName: 'media_name'//以树形式显示的字段
            // ,heightRemove:[".dHead",10]//不计算的高度,表格设定的是固定高度，此项不生效
            , isFilter: false
            , iconOpen: true//是否显示图标【默认显示】
            , isOpenDefault: false//节点默认是展开还是折叠【默认展开】
            , cols: [[
                {field: 'media_name', title: '媒体名称', align: 'center', width: 200},
                {field: 'index_click_position', title: '发起位置', align: 'center', width: 200},
                {field: 'index_click_name', title: '产品', align: 'center', width: 200},
                {field: 'index_click_pv', title: '点击次数', align: 'center', width: 200},
                {field: 'index_click_uv', title: '点击人数', align: 'center', width: 200},
                {field: 'index_click_ymd', title: '时间', align: 'center', width: 200},
            ]]
            , page: false
            , parseData: function (res) {
                //数据加载后回调
                return res;
            }
            , onClickRow: function (index, o) {
                // console.log(index,o,"单击！");
            }
            , onDblClickRow: function (index, o) {
                // console.log(index,o,"双击");
            }
        });

        //id_name:id名称
        function laydate_render(id_name) {
            //执行一个laydate实例
            laydate.render({
                elem: '#' + id_name, //指定元素
                type: 'date',//日期类型
                range: "~", //分隔符
                max: 0,
                extrabtns: [
                    {id: 'today', text: '今天', range: [new Date(), new Date()]},
                    {
                        id: 'yesterday',
                        text: '昨天',
                        range: [new Date(new Date().setDate(new Date().getDate() - 1)), new Date(new Date().setDate(new Date().getDate() - 1))]
                    },
                    {
                        id: 'lastday-7',
                        text: '近一周',
                        range: [new Date(new Date().setDate(new Date().getDate() - 7)), new Date(new Date().setDate(new Date().getDate() - 1))]
                    },
                    {
                        id: 'lastday-30',
                        text: '近一月',
                        range: [new Date(new Date().setDate(new Date().getDate() - 30)), new Date(new Date().setDate(new Date().getDate() - 1))]
                    },
                ],
                done: function (value, date, endDate) {
                    //日期区间为一个月
                    date_arr = value.split("~");
                    start_time = Date.parse(date_arr[0]) / 1000;
                    end_time = Date.parse(date_arr[1]) / 1000;
                    if (end_time - start_time > 2678400) {
                        layer.msg("日期区间为一个月", {icon: "0"});
                        return false;
                    }
                }
            });
        }

        //导出excel
        $("#index_click_pvuv_export").on('click', function () {
            $("#index_click_pvuv_export").attr("href", "{:url('getContentPeopleExcel')}?index_content_media=" + $('#index_content_media').val() + "&list_click_position=" + $('#list_click_position').val() + "&index_content_data=" + $('#index_content_data').val());
        });
    })
</script>